<div class="flex justify-center items-center min-h-screen px-4">
  <p-card styleClass="w-full max-w-full md:w-[30rem] shadow-5 mt-10">
    <ng-template #title>
      <h2 class="text-center text-xl">Nueva contraseña</h2>
    </ng-template>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid mt-6 flex flex-col gap-6 w-full">
      <div class="w-full">
        <p-floatlabel class="w-full">
          <input pInputText type="password" id="nuevaPassword" formControlName="nuevaPassword" class="w-full" />
          <label for="nuevaPassword">Nueva contraseña</label>
        </p-floatlabel>
        <p-message *ngIf="submitted && form.controls['nuevaPassword'].invalid" severity="error"
          text="Mínimo 6 caracteres"></p-message>
      </div>
      <div class="w-full">
        <p-floatlabel class="w-full">
          <input pInputText type="password" id="confirmarPassword" formControlName="confirmarPassword" class="w-full" />
          <label for="confirmarPassword">Confirmar contraseña</label>
        </p-floatlabel>
        <p-message *ngIf="submitted && form.controls['confirmarPassword'].invalid" severity="error"
          text="Confirma tu contraseña"></p-message>
        <p-message *ngIf="submitted && form.errors?.['passwordsMismatch']" severity="error"
          text="Las contraseñas no coinciden"></p-message>
      </div>
      <div class="w-full">
        <button pButton type="submit" label="Actualizar" [loading]="loading" class="w-full"></button>
      </div>
    </form>
  </p-card>
</div>

<p-toast [style]="{ 'max-width': '90vw', 'left': '5vw', 'right': '5vw', 'box-sizing': 'border-box' }"
  baseZIndex="10000"></p-toast>