<div class="px-4 py-4 w-full">

  <!-- GALERÍA DE VIDEOS EN GRID RESPONSIVE -->
  <div
    class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
  >
    <div
      *ngFor="let video of videos"
      (click)="seleccionarVideo(video)"
      class="cursor-pointer"
    >
      <p-card>
        <ng-template pTemplate="header">
          <h3 class="text-sm truncate whitespace-nowrap">{{ video.title }}</h3>
        </ng-template>
        <iframe
          class="w-full aspect-video rounded"
          [src]="video.url"
          frameborder="0"
          allowfullscreen>
        </iframe>
      </p-card>
    </div>
  </div>
</div>
