<div class="flex justify-center items-center min-h-screen px-4">
  <p-card styleClass="w-full md:w-[30rem] shadow-5 mt-10">
    <ng-template #title>
      <h2 class="text-center text-xl">Recuperar contraseña</h2>
    </ng-template>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid mt-6 w-full">
      <!-- Input de correo -->
      <div class="w-full mb-4">
        <p-inputgroup class="w-full">
          <p-inputgroup-addon>
            <i class="pi pi-envelope"></i>
          </p-inputgroup-addon>
          <p-floatlabel class="w-full">
            <input pInputText id="sCorreo" formControlName="sCorreo" class="w-full" />
            <label for="sCorreo">Correo electrónico</label>
          </p-floatlabel>
        </p-inputgroup>

        <p-message *ngIf="submitted && form.controls['sCorreo'].invalid" severity="error"
          text="Correo inválido o requerido"></p-message>
      </div>

      <!-- Botón -->
      <!-- Botones -->
<div class="w-full flex gap-4 mt-4">
  <button pButton type="submit" label="Enviar código" [loading]="loading" class="flex-grow"></button>
  <button pButton type="button" label="Cancelar" class="p-button-danger flex-grow" (click)="cancelar()"></button>
</div>

    </form>
  </p-card>
</div>

<p-toast [style]="{ 'max-width': '90vw', 'left': '5vw', 'right': '5vw', 'box-sizing': 'border-box' }"
  baseZIndex="10000"></p-toast>