<!-- Contenedor centrado -->
<div class="flex justify-center items-center min-h-screen px-4">
    <!-- Tarjeta -->
    <p-card styleClass="w-full md:w-[30rem] shadow-5 mt-10">
        <ng-template #header>
            <div class="flex justify-center">
                <img alt="Logo" src="InnovaTube.png" class="w-[6rem] md:w-[10rem]" />
            </div>
        </ng-template>

        <ng-template #title>
            <h2 class="text-center m-0 text-xl md:text-2xl">
                Bienvenido a InnovaTube
            </h2>
        </ng-template>

        <ng-template #subtitle>
            <p class="text-center text-sm m-0">Inicia sesión para continuar</p>
        </ng-template>

        <!-- Formulario -->
        <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmit()" class="p-fluid mt-4">
            <!-- Username -->
            <div class="mb-5">
                <p-inputgroup>
                    <p-inputgroup-addon>
                        <i class="pi pi-user"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel>
                        <input pInputText id="username" formControlName="username" />
                        <label for="username">Username</label>
                    </p-floatlabel>
                </p-inputgroup>
                <p-message severity="error" variant="simple" size="small"
                    *ngIf="submitted && f['username'].errors?.['required']">
                    Username es requerido.
                </p-message>
            </div>

            <!-- Password -->
            <div class="mb-5">
                <p-inputgroup>
                    <p-inputgroup-addon>
                        <i class="pi pi-key"></i>
                    </p-inputgroup-addon>
                    <p-floatlabel>
                        <input pInputText type="password" id="password" formControlName="password" />
                        <label for="password">Password</label>
                    </p-floatlabel>
                </p-inputgroup>
                <p-message severity="error" variant="simple" size="small"
                    *ngIf="submitted && f['password'].errors?.['required']">
                    Password es requerido.
                </p-message>
            </div>

            <div class="text-center mt-3 text-sm">
                <span class="font-medium text-gray-700 mr-1">¿No tienes cuenta?</span>
                <a href="/register" class="text-primary font-semibold hover:underline">Regístrate</a>
            </div>

            <p-divider></p-divider>

            <!-- Botón -->
            <div class="flex justify-center mt-3">
                <button pButton type="submit" form="loginForm" label="Ingresar" [loading]="loading"></button>
            </div>
        </form>
    </p-card>
</div>

<p-toast></p-toast>